@media screen and (max-width: 960px) {

    html {
        -webkit-text-size-adjust:none;
        /* max-width:474px; */
        overflow-x:hidden;
    }

    body {
        width:474px;
        overflow-x:hidden;
    }
    /*
   #goLogo {
        width:75%;
    }
    */

    img.bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }

    /*
    #full-screen-background-image {
        z-index: -999;
        min-height: 100%;
        max-width: 960px;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
    }
    */

    #pagewrap {
        width:474px;
    }

    /*
        #header {
            max-width:474px;
        }
    */
    #pagewrap #header {
        max-width:474px;
        width:474px;
    }

    .authMenu {
        width:464px;
    }

    #pagewrap #header .goLine {
        width:474px;
        margin-top:2px;
        margin-bottom:2px;
    }

    #pagewrap > header .goHeader {
        float:none;
        max-height:50px;
        width:200px;
    }

    .contactForm {
        max-width:474px;
    }

    .form_textarea, .form_textarea:focus {
        max-width:350px;
        font-family:Trebuchet MS, sans-serif;
    }

    .csubmit {
        max-width:377px;
    }

    #pagewrap #header #onemenuBar .linePlacement {
        /*display:none;*/
    }

    #pagewrap #header #onemenuBar .menuPlacement {
        margin-left:0px;
        padding-left:2px;
        padding-right:2px;
        display:inline-block;
        font-family:Verdana,Arial,sans-serif;
        letter-spacing:.18em;
    }

    #pagewrap #header #onemenuBar .menuPlacementLast {
        margin-left:0px;
        padding-left:2px;
        padding-right:2px;
        display:inline-block;
        font-family:Verdana,Arial,sans-serif;
        letter-spacing:.18em;
    }

    #pagewrap #header #onemenuBar {
        display:block;
        margin:3px 0px 0px 0px;
        padding-left:40px;
        width:474px;
        height:20px;
        float:none;
        clear:both;
    }

    #pagewrap #header .onemenuText {
        text-align:left;
        font-family:Arial,sans-serif;
        font-size:.7em;
        padding-left:1px;
        padding-top:2px;
        width:434px;
        text-align:right;
    }

    #pagewrap #textHeader {
        width:474px;
        margin-top:70px;
        margin-left:0px;
    }

    #pagewrap h1 {
        max-width:474px;
        font-size:2.8em;
    }

    #pagewrap h3 {
        max-width:474px;
        font-size:1.5em;
    }

    #pagewrap #goBoxes {
        width:474px;
        margin-top:50px;
        margin-left:0px;
        margin-right:0px;
        font-size:0.70em;
        letter-spacing:.06em;
        line-height:1.6em;
    }

    #pagewrap #goBoxes .descBox {
        display:block;
        width:470px;
        margin:0px 3px 0px 3px;
    }

    #pagewrap #goBoxes .descBox #viewButton {
        display:block;
    }

    #pagewrap #goBoxes .aboutBox {
        display:block;
        float:none;
        width:470px;
        margin:0px 3px 0px 3px;
    }

    #pagewrap #goBoxes .line_540 {
        display:block;
        width:474px;
    }

    img {
        border:0;
        max-width:100%;
        height:auto;
        width: auto\9; /* ie 8 */

    }


    #main-nav a{
        font-size:90%;
    }



    /*
        #header {
            display:block;
        }

        #header > .goHeader {
            width:70%;
            height:auto;
            margin-left:0px;
            display:block;
        }

        #content {
            width:480px;
            float:none;
        }

        #pagewrap #header img {
            width:85%;
        }

    */
    }


.video embed,
.video object,
.video iframe {
    width:100%;
    height:auto;
}

@media screen and (max-width: 474px) {

    html {
        -webkit-text-size-adjust:none;
        overflow-x:hidden;
        overflow-y:auto;
        min-height:100%;
    }

    body {
        /* max-width:310px; */
        overflow-x:hidden;
        overflow-y:scroll;
    }

    .portfolioContent {
        overflow-y:scroll;
    }

    img.bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }

    .authMenu {
        width:305px;
    }



    #pagewrap {
        width:310px;
        overflow-y:scroll;
    }

    #pagewrap #header {
        width:310px;
    }


    .portLeftWidth {
        display:inline-block;
        max-width:150px;
        top:10px;
    }

    .portClientName {
        font-size:0.7em;
        font-weight:bold;
    }

    .portDetails {
        font-size:.62em;
    }


    .formWrap {
        max-width:280px;
    }


    .form_textarea, .form_textarea:focus {
        max-width:250px;
        font-family:Trebuchet MS, sans-serif;
    }

    .contactForm {
        max-width:310px;
        padding:5px;
    }


    .form_input, .form_input:focus {
        padding:2px;
        margin:2px;
        border:1px solid #339933;
        max-width:200px;
        font-family:Trebuchet MS, sans-serif;
    }

    .formTitleWrap {
        max-width:310px;
    }

    .csubmit {
        max-width:310px;
    }
    h6 {
        width:310px;
        font-size:.2em;
    }


    #pagewrap #header .goLine {
        width:310px;
        margin-top:2px;
        margin-bottom:2px;
    }

    #pagewrap > header .goHeader {
        float:none;
        max-height:40px;
        margin-bottom:10px;
    }


    #pagewrap #header #onemenuBar .linePlacement {
        /*display:none;*/
    }

    #pagewrap #header #onemenuBar .menuPlacement {
        margin-left:0px;
        padding-left:2px;
        padding-right:2px;
        display:inline-block;
        font-family:Verdana,Arial,sans-serif;
        letter-spacing:.18em;
    }

    #pagewrap #header #onemenuBar .menuPlacementLast {
        margin-left:0px;
        padding-left:2px;
        padding-right:2px;
        display:inline-block;
        font-family:Verdana,Arial,sans-serif;
        letter-spacing:.18em;
    }

    #pagewrap #header #onemenuBar {
        display:block;
        margin:3px 0px 0px 0px;
        padding-left:40px;
        width:310px;
        height:20px;
        float:none;
    }

    #pagewrap #header .onemenuText {
        text-align:left;
        font-family:Arial,sans-serif;
        font-size:.7em;
        padding-left:1px;
        padding-top:2px;
        width:310px;
    }

    #pagewrap #textHeader {
        width:310px;
        margin-top:70px;
        margin-left:0px;
    }

    #pagewrap h1 {
        max-width:310px;
        font-size:1.9em;
    }

    #pagewrap h3 {
        max-width:310px;
        font-size:0.9em;
    }

    #pagewrap #goBoxes {
        width:310px;
        margin-top:50px;
        margin-left:0px;
        font-size:0.70em;
        letter-spacing:.06em;
        line-height:1.6em;
    }

    #pagewrap #goBoxes .descBox {
        display:block;
        width:310px;
    }

    #pagewrap #goBoxes .descBox #viewButton {
        display:block;
    }

    #pagewrap #goBoxes .aboutBox {
        display:block;
        float:none;
        width:310px;
    }

    #pagewrap #goBoxes .line_540 {
        display:block;
        width:310px;
    }

    img {
        border:0;
        max-width:100%;
        height:auto;
        width: auto\9; /* ie 8 */

    }


    #main-nav a{
        font-size:90%;
    }



    /*
        #header {
            display:block;
        }

        #header > .goHeader {
            width:70%;
            height:auto;
            margin-left:0px;
            display:block;
        }

        #content {
            width:310px;
            float:none;
        }

        #pagewrap #header img {
            width:85%;
        }

    */
}


.video embed,
.video object,
.video iframe {
    width:100%;
    height:auto;
}


<meta name="viewport" content="width=device-width; initial-scale=1.0">
