<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="/foundation/css/foundation.min.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <link href="/css/one.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/css/one-media-queries.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/css/one_portfolio.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script src="//code.angularjs.org/1.2.9/angular-resource.js"></script>
    <script src="//code.angularjs.org/1.2.9/angular-animate.js"></script>
    <script src="js/TweenMax.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.js"></script>
    
    <!--
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="//code.angularjs.org/1.2.9/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script> 
    -->
    <script src="/js/mm-foundation-0.3.1.min.js"></script>

    <title>AngularMedia, by Greg</title>

<!-- This type of anim: -->
<!-- http://plnkr.co/edit/uDYYAJZ1mQukVRzfzR9v?p=preview -->

    <!-- ANGULAR -->
    <!-- all angular resources will be loaded from the /public folder -->
    <script src="/angjs/controllers/animCtrl.js"></script> <!-- load our controller -->
    <script src="/angjs/services/animService.js"></script> <!-- load our service -->
    <script src="/angjs/animApp.js"></script> <!-- load our application -->
    
    <link href="/css/angular.css" rel="stylesheet" type="text/css" />

</head>
<body class="container" ng-app="animApp" ng-controller="animController">
    <img alt="full screen background image" src="/images/one/gg_sunset.png" id="full-screen-background-image" />
    <div id="pagewrap">
        <!-- Header... -->
        <div header></div>
        <!-- Content here... -->
        <div>
            <div class="lightScreenContent">
                <strong>Angular Directive Testing</strong>
                <div class="gallant_portfolio"> 

                    <div class="animContainer">
                        <div ng-view class="animImage1" ></div>
                    </div>
                    <div> 
                        <button ng-click="goto('/imageOne')">Anim1</button>
                        <button ng-click="goto('/imageTwo')">Anim2</button>
                        <a href="#" ng-click="goto('/imageOne')">Anim1</a> | <a href="#" ng-click="goto('/imageTwo')">Anim2</a> 
                    </div>
                    <script type="text/ng-template" id="image1.html">
                        <div id='animScreen1'>
                            <img src="images/clients/print_gibson.jpg" /> 
                        </div>
                    </script>
                    <script type="text/ng-template" id="image2.html">
                        <div id='animScreen1a'> 
                            <img src="images/clients/print_rapost.jpg" /> 
                        </div>
                    </script>
                    <hr/>
                    <div id='animScreen2'>
                        <img src="images/clients/print_tourism.jpg" /> 
                    </div>
                    <div>
                        <a href="#" ng-click="doAnim3()">Anim3</a> | <a href="#" ng-click="doAnim4()">Anim4</a> 
                    </div>
                    <hr/>
                    <div id='animScreen3'>
                        <img src="images/clients/print_rapost.jpg" /> 
                    </div>
                    <div>
                        <a href="#" ng-click="getPrev()">Prev</a> | <a href="#" ng-click="getNext()">Next</a> 
                    </div>
                </div>
            </div>
        </div>
        <footer id="footer"></footer>
    </div>
</body>

</html>
