<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="/foundation/css/foundation.min.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <link href="/css/one.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/css/one-media-queries.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="/css/one_portfolio.css" media="screen, projection" rel="stylesheet" type="text/css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script src="//code.angularjs.org/1.2.9/angular-resource.js"></script>
    <script src="//code.angularjs.org/1.2.9/angular-animate.js"></script>
    <script src="js/TweenMax.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.js"></script>
    
    <!--
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="//code.angularjs.org/1.2.9/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js"></script> 
    -->
    <script src="/js/mm-foundation-0.3.1.min.js"></script>

    <title>AngularMedia, by Greg</title>

    <!-- ANGULAR -->
    <!-- all angular resources will be loaded from the /public folder -->
    <script src="/angjs/controllers/mainCtrl.js"></script> <!-- load our controller -->
    <script src="/angjs/controllers/portCtrl.js"></script> <!-- load our controller -->
    <script src="/angjs/services/linkService.js"></script> <!-- load our service -->
    <script src="/angjs/app.js"></script> <!-- load our application -->
    
    <link href="/css/angular.css" rel="stylesheet" type="text/css" />

</head>
<body class="container" ng-app="linkApp" >
    <img alt="full screen background image" src="/images/one/gg_sunset.png" id="full-screen-background-image" />
    <div id="pagewrap">
        <!-- Header... -->
        <div header></div>
        <!-- Content here... -->
        <div>
            <div class="lightScreenContent">
                <strong>Technology:</strong>
                <hr>
                <div ng-controller="portController" class="gallant_portfolio"> 
                    <div class="animContainer"><div ng-view class="animImage1" id='portScreen'></div></div>
                    <div>
                        <button ng-click="getPrevImg()">PrevAnim1</button>
                        <button ng-click="getNextImg()">NextAnim1</button>
                    </div>
                </div>
            </div>
        </div>
        <footer id="footer"></footer>
    </div>
</body>

</html>
